@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #DB92BF;
  --secondary: #FCF6F9;
  --button-text: #463939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-button-text: var(--button-text);

  --font-sans: var(--font-source-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}